# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=xxx
API_TOKEN_SALT=xxx
ADMIN_JWT_SECRET=xxx
TRANSFER_TOKEN_SALT=xxx
ENCRYPTION_KEY=xxx

# Supabase Provider
SUPABASE_URL=xxx
SUPABASE_API_URL=https://xxx
SUPABASE_API_KEY=xxx
SUPABASE_BUCKET=xxx
SUPABASE_DIRECTORY=xxx

# Database
DATABASE_CLIENT=postgres
DATABASE_URL=postgresql://postgres.ltbayhwxivltmrczvadg:[xxx]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
DATABASE_SCHEMA=public
DATABASE_POOL_MIN=1
DATABASE_POOL_MAX=5




# SUPABASE PASSWORD
CAFC1WmyL5rUYlru